{% extends "layout.html" %} {% block title %} Edit {% endblock %} {% block body
%}
<section>
  <!-- Edit task form starts -->
  <form method="post" id="task-form">
    <!-- Show alert -->
    <p id="alert"></p>

    <!-- Edit task -->
    <input
      name="newTask"
      id="add-task"
      type="text"
      value="{{ request.form['newTask'] or task['task'] }}"
      required
    />
    <!-- Due date -->
    <input
      name="duedate"
      id="duedate"
      type="datetime-local"
      placeholder="MM/dd hh:mm A"
      value="{{ request.form['duedate'] }}"
    />
    <!-- Priority -->
    <input
      name="priority"
      id="priority"
      type="text"
      value="{{ request.form['priority'] or task['priority'] }}"
    />
    <!-- Single task set button -->
    <button type="submit" id="add-btn">Edit</button>
  </form>
  <!-- Edit task form ends -->
</section>

{% endblock %}
