{% extends "layout.html" %} {% block title %} Plan {% endblock %} {% block body
%}

<section>
  <!-- Add task form starts -->
  <form method="post" id="task-form">
    <!-- Calendar -->
    <input
      name="day"
      id="day"
      type="date"
      value="{{ request.form['day'] }}"
      required
    />

    <!-- Show alert -->
    <p id="alert"></p>

    <!-- Add task -->
    <input
      name="newTask"
      id="add-task"
      type="text"
      placeholder="Add Task"
      value="{{ request.form['newTask'] }}"
      required
    />
    <!-- Due Date -->
    <input
      name="duedate"
      id="duedate"
      type="datetime-local"
      value="{{ request.form['duedate'] }}"
    />
    <!-- Priority -->
    <input
      name="priority"
      id="priority"
      type="text"
      value="{{ request.form['priority'] }}"
    />
    <!-- Single task set button -->
    <button type="submit" id="add-btn">ADD</button>
  </form>
  <!-- Add task form ends -->

  <!-- Todo list starts -->
  <div class="list-container">
    <div id="list">
      <ul>
        {% for task in tasks %}
        <li>
          <span>{{ task['task'] }}</span>
          <span>{{ task['duedate'] }}</span>
          <span>{{ task['priority'] }}</span>
        </li>

        <div class="todo-list-btns">
          <!-- Edit button -->
          <a href="{{ url_for('todo.edit', id=task['id']) }}"
            ><button id="edit-btn" type="button">edit</button></a
          >
          <!-- Delete button -->
          <form
            action="{{ url_for('todo.delete', id=task['id']) }}"
            method="post"
          >
            <input id="delete-btn" type="submit" value="Delete" />
          </form>
        </div>
        {% endfor %}
      </ul>
    </div>
    <!-- All tasks set button starts -->
    <a href="{{ url_for('list.index') }}"
      ><button type="button" id="set-btn">SET</button></a
    >
    <!-- All tasks set button ends -->
  </div>
  <!-- Todo list ends -->
</section>

{% endblock %}
